{% extends 'base-backend.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center">
<h1>Chambre </h1>
<a href="{{ path('app_admin_chambre_new') }}" class="btn btn-success">Nouvelle Chambre</a>
</div> 
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Numero</th>
                <th>litDouble</th>
                <th>litSimple</th>
                <th>Descreption</th>
                <th>Prix</th>
                {# <th>UpdatedAt</th> #}
                <th>Active</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.imageName }}</td>
                <td>{{ chambre.numero }}</td>
                <td>{{ chambre.litDouble }}</td>
                <td>{{ chambre.litSimple }}</td>
                <td>{{ chambre.descreption }}</td>
                <td>{{ chambre.prix }}</td>
                {# <td>{{ chambre.updatedAt ? chambre.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ chambre.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ chambre.slug }}</td>
                <td>
                    <a href="{{ path('app_admin_chambre_show', {'id': chambre.id}) }}">show</a>
                    <a href="{{ path('app_admin_chambre_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9"><div class="test-start">Aucune donnée trouvée</div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
